rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function estaLogado() {
      return request.auth != null;
    }

    match /noticias/{noticiaId}/{arquivo} {
      allow read: if true;
      allow write: if estaLogado()
                   && request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }

    match /site/{arquivo} {
      allow read: if true;
      allow write: if estaLogado();
    }

    match /publicidade/{arquivo} {
      allow read: if true;
      allow write: if estaLogado()
                   && request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }

    match /equipe/{arquivo} {
      allow read: if true;
      allow write: if estaLogado()
                   && request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }

    match /edicoes/{arquivo} {
      allow read: if true;
      allow write: if estaLogado()
                   && request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
  }
}
